{% extends "base.html" %}

{% block title %}
    <title>API Documentation</title>
{% endblock title %}

{% block content %}
    <col class="col m-md-2 m-1">
        <h1>API Documentation</h1>
        <h2>[UNDER CONSTRUCTION]</h2>
            <p>This is a placeholder page for complete API documentation.</p>

            <h2>GraphQL API</h2>
            <ul>
                <li><a href="/playground">Link to GraphQL Playground</a> -> Explore the API and see documentation and the schema </li>
                <li><a href="/graphql">Link to GraphQL Endpoint</a> -> For production use of the API</li>
            </ul>

        <h2>Simple Queries</h2>

        <h3>Query Travellers</h3>
        <pre>
            <code>
                query {
                    getPeople(count:12) {
                      birthDate
                      publicHealthProfile {
                        id
                        vaccinationHistory {
                          vaccine{
                            vaccineType
                            name
                          }
                          providedOn
                          locationProvided {
                            name
                            country {
                              countryName
                            }
                          }
                        }
                      }
                    }
                }
            </code>
        </pre>

        <h3>Query Trips</h3>
        <pre>
            <code>
                query {
                    getTrips(count:12) {
                      id
                      travelMode
                      scheduledDepartureTime
                      departureTime
                      scheduledArrivalTime
                      arrivalTime
                      scheduledArrivalTime
                      travelIntent
                      tripState
                      tripProvider
                      origin {
                        name
                        country {
                          countryName
                        }
                      }
                      destination {
                        name
                        country {
                          countryName
                        }
                      }
                      
                      person {
                        approvedAccessLevel
                        birthDate
                        travelDocumentIssuer {
                          countryName
                        }
                        publicHealthProfile {
                          testingHistory {
                            dateTaken
                            testName
                            testType
                            testResult
                            dateTaken
                          }
                          quarantinePlans {
                            active
                            dateCreated
                            quarantineRequired
                            confirmationNoVulnerable
                          }
                          vaccinationHistory {
                            vaccine {
                              name
                              approved
                              requiredDoses
                            }
                            providedOn
                            locationProvided {
                              name
                              country {
                                countryName
                              }
                            }
                          }
                        } 
                      }
                    }
                  }
            </code>
        </pre>

        <h3>Query Vaccinations</h3>
        <pre>
            <code>
                query vaccinations {
                    getVaccinations(count:12) {
                      providedOn
                      locationProvided {
                        name
                        country {
                          countryName
                        }
                      }
                      vaccine {
                        name
                        manufacturer
                        requiredDoses
                        approved
                        details
                      }
                    }
                }
            </code>
        </pre>

        <h3>Query COVID tests</h3>
        <pre>
            <code>
                query testResults {
                    getCovidTestResults(count:12) {
                      testName
                      testType
                      testResult
                      dateTaken
                    }
                }
            </code>
        </pre>

        <h2>Complex Queries</h2>

        <h3>Signing in as Operator</h3>
        <h4>Query</h4>
        <pre>
            <code>
                mutation SignIn($auth_data: LoginQuery!) {
                    signIn(input: $auth_data)
                }
            </code>
        </pre>
        <h4>Query Variables</h4>
        <pre>
            <code>
                {"auth_data": {
                    "email":"test_user@email.com",
                    "password":"TestPassword"
                }}
            </code>
        </pre>
        <h4>To Do:</h4>
        <p>Enter the query and variables in the Playground and click the "play" button.
            Then copy the string inside the quotation marks that is returned. This is a 
            Javascript Web Token.
        </p>

        <h3>Add the Token to the HTTP Headers section by replacing $JWT below</h3>
        <pre>
            <code>
                {
                    "Authorization": "Bearer $JWT"
                }
            </code>
        </pre>

        <p>More to come...</p>
        
    </col>
{% endblock content %}